@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    background: #018281;
}

h1, h2, p, ul {
    margin: 0;
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}